<!doctype html>
<html>
  <head>
    <title>{{plugin.name}}</title>
    <script src="popup.js"></script>
  </head>
  <body>
    <h1>{{plugin.name}}</h1>
    <p>
        Your custom content and such, goes here.
    </p>

    <button id="actionButton">Arbitrary Action Button!</button>
  </body>
</html>